name: CI/CD Pipeline

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/cisco-ci-cd-demo:latest .

    - name: Push Docker image
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/cisco-ci-cd-demo:latest

  deploy-to-kubernetes:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up kubectl
      uses: azure/setup-kubectl@v4

    - name: Load kubeconfig from repo secret
      env:
        KUBECONFIG_DATA: ${{ secrets.K8S_KUBECONFIG }}
      run: |
        echo "$KUBECONFIG_DATA" | base64 --decode > kubeconfig
        export KUBECONFIG=$(pwd)/kubeconfig

    - name: Deploy latest image
      run: |
        kubectl set image deployment/cisco-demo \
          cisco-demo=ghcr.io/${{ github.repository_owner }}/cisco-ci-cd-demo:latest

